@model Channa.Models.Ikan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ikan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaIkan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaIkan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockIkan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockIkan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HargaIkan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HargaIkan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdIkan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
